<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header class="main-top">
    <div th:replace="~{fragments::main-header}"></div>
    <!-- Start Navigation -->

</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block w-100" th:src="'data:image/jpeg;base64,' + ${product.image}"
                                     alt="First slide"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <form th:action="@{/add-to-cart}" method="post">
                        <div class="single-product-details">

                            <h2 th:text="${product.name}"></h2>
                            <h5 th:text="'$' + ${product.costPrice}"></h5>
                            <h4>Short Description:</h4>
                            <p th:text="${product.description}"> </p>

                                <div class="price-box-bar">
                                    <div class="cart-and-bay-btn">
                                        <input type="hidden" th:value="${product.id}" name="id">
                                        <button type="submit" class="btn hvr-hover" >
                                            <i class="fas fa-shopping-cart" style="font-size: 20px;"></i>
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="review-rating" style="margin-bottom:30px;">
        <div class="container">
            <h3>REVIEW AND RATING</h3>
            <form class="user" th:action="@{/product/sendReview}" method="post" th:object="${review}">
                    <div class="rating-wrap">
                        <div class="center">
                            <div class="rating-field">
                                <input type="radio" id="star5" name="rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
                                <input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
                                <input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
                                <input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
                                <input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
                            </div>
                        </div>
                        <h4 id="rating" th:field="*{rating}" name="rating"></h4>
                        <input type="hidden" th:value="${product.id}" name="id">
                    </div>
                    <div class="form-group">
                        <textarea name="comment" class="form-control form-control-user" th:field="*{comment}"
                                  id="comment" placeholder="Enter Your Comment...">
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Send
                    </button>
            </form>
        </div>
    </div>
    <div class="">

    </div>
    <!-- End Cart -->
<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">
</footer>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
<script th:src="@{/js/rating.js}"></script>
</body>

</html>