<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header class="main-top">
    <div th:replace="~{fragments::main-header}"></div>
    <!-- Start Navigation -->

</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block w-100" th:src="'data:image/jpeg;base64,' + ${product.image}"
                                     alt="First slide"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <form th:action="@{/add-to-cart}" method="post">
                        <div class="single-product-details">

                            <h2 th:text="${product.name}"></h2>
                            <h5 th:text="'$' + ${product.costPrice}"></h5>
                            <h4>Short Description:</h4>
                            <p th:text="${product.description}"> </p>

                                <div class="price-box-bar">
                                    <div class="cart-and-bay-btn">
                                        <input type="hidden" th:value="${product.id}" name="id">
                                        <button type="submit" class="btn hvr-hover" >
                                            <i class="fas fa-shopping-cart" style="font-size: 20px;"></i>
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="app">
            <h1 style ="color:gold;">[[${avgRating}]] &#9733;</h1>
        </div>
    </div>
    <div class="review-rating" style="margin-bottom:30px;">
        <div class="container">
            <h3>REVIEW AND RATING</h3>
            <form class="user" th:action="@{/product/sendReview}" method="post" th:object="${review}">
                    <div class="rating-wrap">
                        <div class="center">
                            <div class="rating-field">
                                <input type="radio" id="star5" name="rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
                                <input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
                                <input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
                                <input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
                                <input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
                            </div>
                        </div>
                        <h4 id="rating" th:field="*{rating}" name="rating"></h4>
                        <input type="hidden" th:value="${product.id}" name="id">
                    </div>
                    <div class="form-group">
                        <textarea name="comment" class="form-control form-control-user" th:field="*{comment}"
                                  id="comment" placeholder="Enter Your Comment...">
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Send
                    </button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="review_result" th:each="r : ${reviews}">
            <div class="customer_avatar"><img th:src="@{/img/avatar.jpg}" alt="customer_avatar"></div>
            <div class="customer_review_rating">
                <div class="customer_name">
                    <p th:text="${r.user.username}"></p>
                    <div class="star_outer" th:each="i : ${#numbers.sequence(1, r.rating)} ">
                        <span class="star_gold">&#9733;</span>
                    </div>
                </div>
                <div class="customer_review">
                    <p th:text="${r.comment}"></p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Cart -->
<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">
</footer>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
<script th:src="@{/js/rating.js}"></script>
<!--<script>-->
<!--        let data = [-->
<!--            {-->
<!--                'star' : 5,-->
<!--                'count' : 2570,-->
<!--            },-->
<!--            {-->
<!--                'star' : 4,-->
<!--                'count' : 300,-->
<!--            },-->
<!--            {-->
<!--                'star' : 3,-->
<!--                'count' : 150,-->
<!--            },-->
<!--            {-->
<!--                'star' : 2,-->
<!--                'count' : 100,-->
<!--            },-->
<!--            {-->
<!--                'star' : 1,-->
<!--                'count' : 50,-->
<!--            },-->
<!--        ]-->
<!--        let total_rating = 0,-->
<!--        rating_base_on_stars = 0;-->

<!--        data.forEach(rating_scorecard =>{-->
<!--            total_rating += rating_scorecard.count;-->
<!--            rating_base_on_stars += rating_scorecard.count * rating_scorecard.star;-->
<!--        });-->
<!--        data.forEach(rating_scorecard => {-->
<!--            let rating_progress = `-->
<!--            <div class="rating_progress-value">-->
<!--                    <p>${rating_scorecard.star} <span class="star">&#9733;</span></p>-->
<!--                    <div class="progress">-->
<!--                        <div class="bar" style="width: ${(rating_scorecard.count / total_rating) * 100}%"></div>-->
<!--                    </div>-->
<!--                    <p>${rating_scorecard.count.toLocaleString()}</p>-->
<!--            </div>-->
<!--            `;-->

<!--            document.querySelector('.rating_progress').innerHTML += rating_progress;-->
<!--        });-->
<!--        let rating_average = (rating_base_on_stars / total_rating).toFixed(1);-->
<!--        document.querySelector('.rating_average h1').innerHTML = rating_average;-->
<!--        document.querySelector('.rating_average p').innerHTML = total_rating;-->
<!--        document.querySelector('.star_inner').style.width = (rating_average / 5) * 100 + "%";-->
<!--    </script>-->
</body>

</html>